@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.scroll-hide::-webkit-scrollbar {
  width: 0;
}

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
}

.message-container .message-group.justify-end:not(:first-child) p {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.message-container .message-group.justify-end:last-child p {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.message-container .message-group.justify-end:first-child p {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 2px;
}


.message-container .message-group.justify-start:not(:first-child) p {
  border-bottom-left-radius:2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.message-container .message-group.justify-start:last-child p {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 2px;
}

.message-container .message-group.justify-start:first-child p {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 2px;
}